@{
    ViewData["Title"] = "Home Page";
}


    <div class="jumbotron" style="background-image:url('/images/LogoValoraLabs.png'); background-repeat:no-repeat; height:300px"  >
        <div class="container">
            <h3 style="font-family:Calibri">Prototipo Login</h3>
         
        </div>
    </div>